Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers: "X-API-KEY, Origin, X-Requested-With, Content-Type, Accept, Access-Control-Request-Method"
Header set Access-Control-Allow-Methods: "GET, POST, OPTIONS, PUT, DELETE"

